body {
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

footer {
    position: fixed;
    bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/******************** Top Navigation ************************/
ul#navlist
{
    float: right;
}

ul#navlist li, ul#navlist form
{
    display: inline;
}

ul#navlist li a
{
    border-left: 1px dotted #8A8575;
    padding: 10px;
    margin-top: 10px;
    color: #8A8575;
    text-decoration: none;
    float: left;
}

ul#navlist li:first-child a
{
    border: none;
}

ul#navlist li a:hover
{
    color: #F6855E;
}

/*****End top navigation****/

#findAnEventHeader {
    line-height: 60px;
    font-weight: 100;
    color: #F86820;
    font-family: Benton Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
    font-size: 45px;
    letter-spacing: .5px;
    text-rendering: optimizeLegibility;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin-top: 15px;
    margin-bottom: 30px;
                    
}

.btn--brite {
    font-weight: 600;
    color: #fff;
    background-color: #f6682F;
}

#searchControls {
    margin: auto;
    text-align: center;
}
#searchControls input {
    width: 300px;
}

#allSearchResults {
    width: 850px;
}

.searchResult {
    border: 1px solid black;
    padding: 15px;
    margin: 15px 15px 15px 0;
    width: 400px;
    display: inline-block
}

.searchResult:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

.searchResult ul {
    margin-bottom: 0
}

#bodyWrap {
    min-height: 70vh;
}

#allSearchResults a {
    text-decoration: none;
    color: black;
}

#eventDetails {
    margin-top: 40px;
    font-size: 17px;
}
    #eventDetails .detailRow {
        padding-bottom: 30px;
    }
    #eventDetails .detailLabel {
        width: 200px;
        text-align: right;
        display: inline-block;
        padding-right: 15px;
    }

#registerButton {
    margin-top: 50px;
}