@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Find An Event";
}

<div id="findAnEventHeader">Find your next experience</div>

<div id="searchControls">
    @using (Html.BeginForm("Search", "Event", FormMethod.Get))
    {
        <input type="text" id="searchEventsQuery" name="searchEventsQuery" placeholder="Search Events" />
        <input type="text" id="locationQuery" name="locationQuery" placeholder="Search Location" />
        <button type="submit" class="btn btn--brite">Search</button>
    }
</div>

