@model IEnumerable<FinalProject.Models.Event>
@{
    ViewBag.Title = "SearchResults";
}

@{
    var baseDetailsUrl = Url.Action("Details", "Event");
}

<h2>Search Results</h2>

<div id="allSearchResults">
    @foreach (var item in Model)
    {
        <a href="@baseDetailsUrl?eventId=@item.Id">
            <div class="searchResult">
                @item.Title
                <ul>
                    <li>Description: @item.Description</li>
                    <li>Location: @item.Location</li>
                </ul>
            </div>
        </a>
    }
</div>